.App-header {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fcf7f8;
  font-family: 'Pacifico', cursive;
}

.description {
  color: #fcf7f8;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#love {
  font-family: 'Pacifico', cursive;
  font-size: 1.6rem;
}

.pictures {
  margin: 2rem 0;
  padding: 1rem;
}

.picture-grid {
  display: flex;
  justify-content: space-around;
}

.picture-grid img {
  height: 500px;
  width: 400px;
  border-radius: 5px;
}
